* {
    box-sizing: border-box;
}

:root {
    --bg-color: #10375c;
    --primary-color: #2e80ce;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: block;
}

button {
    border: currentColor;
    background: currentColor;
}

.btn {
    display: inline-block;
    color: #fff;
    background: var(--primary-color);
    padding: 0 20px;
    min-width: 205px;
    line-height: 60px;
    height: 60px;
    text-align: center;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    font-family: Sora;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

.section-desc {
    color: #575f66;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.control {
    display: flex;
    gap: 0 18px;
    align-items: center;
}

.member__control {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.control__btn {
    color: #575f66;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #575f66;
    outline: none;
    transition: 0.25s;
}

.control__btn:hover {
    cursor: pointer;
    color: #fff;
    border-color: #2e80ce;
    background: #2e80ce;
}

.control__btn:nth-child(2) .control--icon {
    rotate: 180deg;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    padding: 30px 0 110px;
    background: var(--bg-color);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
}

.logo__circle {
    position: relative;
    margin-right: 6px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #2e80ce;
}

.logo__circle::before {
    position: absolute;
    top: 1.1em;
    right: 0.3em;
    content: "";
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background: #fff;
}

.logo__text {
    text-align: right;
}

.logo__brand {
    display: block;
    color: #fff;
    font-family: Sora;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.1;
}

.logo__brand--small {
    color: #fff;
    font-family: Sora;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.16;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 21px;
    color: #c9d2da;
    font-family: Sora;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link::after {
    content: attr(title);
    display: block;
    height: 0;
    font-weight: 400;
    overflow: hidden;
    visibility: hidden;
}

.navbar__link--active::before {
    position: absolute;
    left: 8px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.navbar__link:hover,
.navbar__link--active {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: right;
    color: #fff;
    font-family: Sora;
    font-weight: 400;
    line-height: 1.75;
}

.block-ctn {
    display: flex;
    align-items: center;
    gap: 0 28px;
}

.block-ctn__click {
    color: #c9d2da;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.block-ctn__click:hover {
    font-weight: 400;
    color: #fff;
}

.block-ctn__click::after {
    content: attr(title);
    display: block;
    color: #fff;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    font-weight: 400;
}

.block-ctn__btn {
    font-size: 1.6rem;
    min-width: 108px;
    height: 44px;
    line-height: 44px;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 76px;
}

.hero__info {
    width: 44%;
}

.hero__title {
    font-size: 70px;
    color: #fff;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__ctn {
    margin-top: 38px;
}

.hero__ctn--contact {
    margin-right: 38px;
}

.hero__ctn--call {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__media {
    width: 46%;
}

.hero__images {
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-image__info {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero-image__info:first-child {
    position: relative;
    margin-right: -6px;
}

.hero-image__info--large {
    width: 210px;
    height: 410px;
}

.service {
    margin-top: 140px;
    padding: 30px 0;
}

.service-desc,
.service-heading {
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

.section-desc {
    margin-top: 18px;
}

.service__row {
    display: flex;
    align-items: center;
    margin-top: 70px;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 1.2rem;
    object-fit: cover;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px 22px;
    border-radius: 10px;
    background: #fff;
}

.service-item:hover {
    color: #fff;
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon-wrap {
    background: var(--primary-color);
    color: #fff;
}

.service-item__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 19px;
    color: #10375c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.service-item__title {
    color: #10375c;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service-item__btn {
    margin-top: 55px;
}

/* Work */
.work {
    margin-top: 170px;
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    margin-top: 18px;
    width: 40%;
}

.work__list {
    margin-top: 70px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.work-item {
    padding: 43px 42px;
    background: #fff;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item:hover .work-item__more {
    color: #2e80ce;
    font-weight: 400;
}

.work-item__title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* features */
.features {
    margin-top: 100px;
    padding: 70px 0;
}

.features-body {
    display: flex;
    align-items: center;
    gap: 130px;
}

.features__images {
    position: relative;
    display: flex;
    max-width: 570px;
    padding-bottom: 121px;
    padding-right: 58px;
}

.features__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.features__img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.features-content__btn {
    margin-top: 38px;
}

/* Member */
.member {
    margin-top: 110px;
    padding: 30px 0;
}

.member_header {
    text-align: center;
}

.member__ctn {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 30px;
}

.member-item__img-bg {
    overflow: hidden;
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    cursor: pointer;
}

.member-item__thumb {
    text-align: center;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    display: block;
    transition: 0.25s;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}
.member-item__name {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.member-item__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

/* Install */
.install {
    margin-top: 225px;
}

.install__body {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    background: #2e80ce;
    padding: 0 70px;
}

.install__images {
    margin-top: -95px;
}

.install__img {
    display: block;
    width: 284px;
    height: 522px;

    object-fit: cover;
}

.install-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 586px;
}

.install-content__title,
.install-content__desc {
    color: #fff;
}

.install-content__title {
    max-width: 489px;
}

.install-content__ctn {
    margin-top: 38px;
    display: flex;
    gap: 0 28px;
}

/* News */
.new {
    margin-top: 170px;
}

.new__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-content {
    max-width: 470px;
}

.new-content__more {
    margin: 28px 0;
    color: #10375c;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
}

.new-content__more:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.new__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.new-item {
    flex: 1;
    border-radius: 12px;
    transition: 0.25s;
}

.new-item:hover {
    background: #fff;
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.new-item:hover .new-item__info {
    border-color: #fff;
}

.new-item:hover .new-item__img {
    transform: scale(1.1);
}

.new-item__thumb {
    height: 172px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.new-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
    border-radius: 12px 12px 0 0;
}

.new-item__info {
    border-radius: 0 0 12px 12px;
    border: 1px solid #e8ebee;
    border-top: none;
    background: #fff;
    padding: 18px 22px 21px;
    transition: 0.25s;
}

.new-item__title {
    color: #10375c;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.new-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.new-item__more {
    margin-top: 12px;
    color: #10375c;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 500;
    transition: 0.25s;
}

.new-item :hover .new-item__more {
    color: #2e80ce;
}

/* appointment */
.appointment {
    margin-top: 170px;
}

.appointment__inner {
    padding: 100px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6fbff;
}

.appointment__heading,
.appointment__desc {
    text-align: center;
}

.appointment__heading::after {
    margin-top: 18px;
    content: "";
    display: block;
    margin: 0 339px;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    margin-top: 18px;
}

.appointment__btn {
    margin-top: 38px;
}
